@use "../../global/variables.scss" as variables;

.container {
  display: flex;
  height: 60vh;
  width: 700px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px variables.$secondary-bg-color;
  border: 1px solid variables.$secondary-font-color;
  border-radius: 1%;
  background-color: variables.$secondary-bg-color;

  @media only screen and (max-width: variables.$mobile-tablet-width) {
    width: 100%;
    height: 100%;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }
}
