$primary-bg-color: #20232a;
$secondary-bg-color: #0e0e11;

$primary-font-color: #dadada;
$secondary-font-color: #cbd1ff;

$link-color: #cbd1ff;
$visited-link-color: #cbd1ff;
$hover-link-color: #a4adf6;

$tablet-width: 768px;
$mobile-width: 550px;
